<div class="col text-center navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navperfil" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="perfil">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navperfil">
        <div class="navbar-nav">
            <a class="nav-link {% if '/profile/' in request.path %} activo {% endif %}" href="{% url 'profile' %}">Mi perfil</a>
            <a class="nav-link {% if '/my_orders/' in request.path %} activo {% endif %}" href="{% url 'my_orders' %}">Mis ordenes</a>
            <a class="nav-link" href="#">Mis facturas</a>
            <a class="nav-link" href="#">Misss</a>
        </div>
    </div>
</div>