{% extends 'index.html' %}
{% load static %}
{% block head%}
    <title>Mis ordenes</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}
{% block content %}
{% include 'header.html' %}
<br>
<div class="container">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            {% include 'user/barra.html' %}
        </div> 
    </div>
    <br>
    <div class="row">
        <div class="col rounded perfil_usuario">
            <br>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion entrega</th>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'order_detail' order.order_note%}">{{ order.order_note }}</a></td>
                            <td>{{ order.name}}</td>
                            <td>{{ order.phonenumber}}</td>
                            <td>{{ order.address_1}}</td>
                            <td>${{ order.order_total}} COP</td>
                            <td>{{ order.create_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}