{% extends 'index.html' %}
{% load static %}
{% block head%}
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}
{% block content %}
{% include 'header.html' %}
<br>
<div class="container">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            {% include 'user/barra.html' %}
        </div> 
    </div>
    <br>
    <div class="row">
        <div class="col rounded perfil_usuario">
            <br>
            <div class="row">
                <div class="col text-center">
                    {% if user.img.url != None %}
                    <img src="{{ user.img.url }}" class="img-fluid" alt="" style="width: 300px; height: 300px; border-radius: 50%;">
                    {% else %}
                    <img src="{% static 'img/perfil2.webp' %}" class="img-fluid" alt="" style="width: 300px; height: 300px; border-radius: 50%;">
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <small for="nombre" class="text-muted">Nombre</small>
                            <h4 id="nombre">{{ user.name }}</h4>
                        </div>
                        <div class="col">
                            <small for="correo" class="text-muted">Correo electornico</small>
                            <h4 id="correo">{{ user.email }}</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <small for="celular" class="text-muted">Celular</small>
                            <h4 id="celular">{{ user.phonenumber }}</h4>
                        </div>
                        <div class="col">
                            <small for="fecha" class="text-muted">Fecha</small>
                            <h4 id="fecha">{{ user.date }}</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <small for="direccion" class="text-muted">Direccion</small>
                            <h4 id="direccion">{{ user.addres }}</h4>
                        </div>
                        <div class="col">
                            <small for="ciudad" class="text-muted">Ciudad</small>
                            <h4 id="ciudad">Bucaramanga</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col d-flex justify-content-end align-items-center">
                    <a href="{% url 'change_password'%}">Cambiar contrasena</a>
                    <a href="">-------------------------</a>
                    <a href="{% url 'edit_profile' user.id %}">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}