{% load static %}
<div class="row align-items-end bg-dark p-5">
    <div class="col">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <ul class="nav flex-column nav_pie">
            <h4 style="color: white;">NUESTRA MARCA</h4>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.instagram.com/">TopChoice Cherry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Ubicacion</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <ul class="nav flex-column nav_pie">
            <h5 style="color: white;">Terminos y condiciones</h5>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'terms_conditions' %}" download>Terminos y condiciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form_contacto">
          <div class="row mb-3" style="color: white;">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                <form action="" method="post">
                  {% csrf_token %}
                  {{ formC.as_p }}
                </form>
                Comunicate al correo de contacto por si tienes algun inconveniente con tu compra:
                topchoicecherry@gmail.com
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>