{% load static %}
    <!--Header-->
    <div class="container-fluid p-4 text-center">
        <div class="row">
            <div class="col">
              <a href="{% url 'header' %}" aria-label="Home">
                <img src="{% static 'img/logo.svg' %}" alt="" class="img-fluid mx-auto d-block" style="max-height: 80px;">
              </a>
            </div>
            <div class="col align-self-center" style="color:white;">
                <form class="container-fluid" action="{% url 'search' %}">
                    <div class="input-group">
                      <input type="text" class="form-control barra_busqueda" placeholder="Busca tu producto favorito" aria-label="Username" aria-describedby="basic-addon1" name="keyword">
                      <button type="submit" class="span_busqueda barra_busqueda btn_bus">
                        <span class="input-group-text barra_busqueda span_busqueda" id="basic-addon1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </span>
                      </button>
                    </div>
                  </form>
            </div>
            <div class="col align-self-center" style="color:white;">
                <button class="btn_headers" aria-label="cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                      </svg>
                </button>
                <button class="btn_headers" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </button>
            </div>
        </div>
      </div>
    <!--Barra de categorias-->
    <div class="container-fluid bg_categorias text-center">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <button class="navbar-toggler btn_nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav nav justify-content-center">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Tienda</a>
                          </li>
                        {% for Categorias in links %}
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ Categorias.get_url }}">{{ Categorias.category_name }}</a>
                          </li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!--Modal de inicio de sesion-->
    <div class="modal fade modal_sesion" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content body_modal">
          <div class="modal-body body_sesion">
            <form class="row g-3">
              <div class="text-center">
                <h1 class="modal-title fs-5 titulo_sesion" id="exampleModalLabel">Inicio de Sesion</h1>
                  <div class="col-md-12">
                      <input type="email" class="form-control bg-transparent border-0 input1" placeholder="Correo">
                  </div>
                      <br>
                  <div class="col-md-12">
                      <input type="password" class="form-control bg-transparent border-0 input1" placeholder="Contrasena">
                  </div>
                  <br>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn1" id="btn1">INGRESAR</button>
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="#">Has olvidado tu contrasena?</a>
              </div>     
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="{% url 'registro' %}" id="boton_registro">No tienes cuenta? registrate</a>
              </div>     
              </form>
          </div>
        </div>
      </div>
    </div>
