{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Topchoice cherry es una tienda virtual que ofrece cientos de productos 
    de belleza, cuidado de la piel, productos de bebes y demas encargaos de cuidar tu salud y forma de ver. Nos preocupamos por ti!">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head %}
    <title>Homes</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% include 'header.html' %}
    <!--carrusel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/publi1.svg' %}" class="img-fluid mx-auto d-block" alt="Responsive image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/publi2.svg' %}" class="img-fluid mx-auto d-block" alt="Responsive image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/publi3.svg' %}" class="img-fluid mx-auto d-block" alt="Responsive image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <!--Publicidad-->
    <div class="container-fluid text-center">
      <!--top ventas-->
      <div class="row titulo">
        <h2 >PRODUCTOS MAS VENDIDOS</h2>
        <div class="col box">
            <div class="row">
              <div id="carouselExampleIndicators2" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>            </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="container-fluid">
                      <div class="row">
                        {% for product in productos_top1%}
                        <div class="col producto_centrado">
                          <div class="card3" style="width: 10rem;">
                            <a href="{{ product.get_url }}"><img src="{{ product.product_image_stock.url }}" class="card-img-top" alt="..." style="max-height:15rem;"></a>
                              <div class="card-body">
                                  <h5 class="card-title">{{ product.product_name }}</h5>
                              </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="container-fluid">
                      <div class="row">
                        {% for product in productos_top2%}
                        <div class="col producto_centrado">
                          <div class="card3" style="width: 10rem;">
                            <a href="{{ product.get_url }}"><img src="{{ product.product_image_stock.url }}" class="card-img-top" alt="..." style="max-height:15rem;"></a>
                              <div class="card-body">
                                  <h5 class="card-title">{{ product.product_name }}</h5>
                              </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev" style="filter:invert(100%) ;">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next" style="filter:invert(100%) ;">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <br>
        </div>
      </div>
      <br>
      <br>
        <div class="row">
          <div class="col ">
                <img src="{% static 'img/2.svg' %}" class="card-img-top img_publicidad" alt="..." style="width: 20rem; height:auto;">
          </div>
          <div class="col ">
              <img src="{% static 'img/3_1.svg' %}" class="card-img-top img_publicidad" alt="..." style="width: 20rem; height:auto;">
          </div>
          <div class="col ">
            <img src="{% static 'img/4_1.svg' %}" class="card-img-top img_publicidad" alt="..." style="width: 20rem; height:auto;">
          </div>
        </div>
        <br>
        <!--Nuevos productos-->
        <div class="row titulo">
            <h2>NUEVOS PRODUCTOS</h2>
            <div class="row">
                  <div class="carousel-item active">
                    <div class="container-fluid">
                      <div class="row">
                        {% for product in productos_new1%}
                        <div class="col producto_centrado">
                          <div class="card3" style="width: 10rem;">
                            <a href="{{ product.get_url }}"><img src="{{ product.product_image_stock.url }}" class="card-img-top" alt="..." style="max-height:15rem;"></a>
                              <div class="card-body">
                                  <h5 class="card-title">{{ product.product_name }}</h5>
                              </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
    <br>
    <br>
    {% include 'footer.html' %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>