{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<div id="fullscreen_bg" class="fullscreen_bg">
 <form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel panel-primary">
        
            <h3 class="text-center">Inventory</h3>
        
        <div class="panel-body">    
 
<table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Borrar</th> 
                    <th>Editar</th> 
                </tr>
                </thead>   
                <tbody>
                <tr>
                    <td><a >Filling</a></td>
                    <td>100</td>
                    <td>40 LE</td>
                    <td class="ss"><a  class="btn btn-sm btn-primary btn-block" role="button" style="height:30px">Delete</a></td>
                    </td>
                    <td class="ss"><a  class="btn btn-sm btn-primary btn-block" role="button" style="height:30px">Editar</a></td>
                    </td>                                     
                </tr>
                </tbody>
        </div>
        </div>
        </div>
        </div>
        
    </div>
</div>
</div>
</form>
</table>

<form action="">
    <div class="panel panel-secondary">
        
        <h3 class="text-center">Añadir Producto</h3>
    <div class="panel-body"> 
</form>

<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Nombre Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Añadir</th> 
    </tr>
    </thead>   
    <tbody>
    <tr>
        <td class="col-md-4">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Nombre">
        </td>
        <td class="col-md-3">
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Cantidad">
        </td>
        <td class="col-md-3">
            <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Precio">
        </td>
        <td class="">
            <a  class="btn btn-sm btn-primary btn-block" role="button" style="height:30px">Añadir</a></td>
        </td>                                     
    </tr>
    </tbody>
</div>
</form>
</table>
{% endblock %}