{% extends 'index.html' %}
{% load static %}
{% block head%}
    <link rel="stylesheet" href="{% static 'css/detalle.css' %}">
    <title>Detalle</title>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container text-center py-5">
  <!--Aqui se muestra la informacion del producto-->
    <div class="caja">
        <div class="row">
            <div class="col-sm col-md-4 imagen_producto">
                <img src="{{ product_information.product_image_stock.url }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-sm informacion">
                <h2 class="title">{{ product_information.product_name }}</h2>
                <br>
                <div class="mb-3 precio"> 
                    <var class="price h4">${{ product_information.price }}</var> 
                </div> 
                <hr>
                <div class="row">
                  <p class="ref">Ref:{{ product_information.product_id }}</p>
                    <div class="item-option-select">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <div class="col" data-toggle="buttons">
                          <br>
                          <h5>Descripcion</h5>
                          <p>{{ product_information.description }}</p>
                        </div>
                    </div>
                </div> <!-- row.// -->
                {% if product_information.stock <= 0 %}
                  <h5>Producto no disponible</h5>
                {% else %}
                  <a href="{% url 'add' product_information.product_id %}" class="btn  btn-primary boton_comprar"> <span class="text">Agregar al Carrito</span> <i class="fas fa-shopping-cart"></i>  </a>
                {% endif %}
              </div> 
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
    <!--Aqui se muestra los productos relacionados-->
    <div class="container-flex text-center">
      <h2>Productos relacionados</h2>
      <div class="row titulo">
        <div class="row">
          <div id="carouselExampleIndicators2" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container-fluid">
                  <div class="row">
                    {% if product_information.category%}
                    {% for product in product%}
                    <div class="col producto_centrado">
                      <div class="card card2" style="width: 10rem;">
                        <a href="{{ product.get_url }}"><img src="{{ product.product_image_stock.url }}" class="card-img-top" alt="..." style="max-height:15rem;"></a>
                          <div class="card-body">
                              <h5 class="card-title">{{ product.product_name }}</h5>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid">
                  <div class="row">
                    {% if product_information.category%}
                    {% for product2 in product2%}
                    <div class="col producto_centrado">
                      <div class="card card2" style="width: 10rem;">
                        <a href="{{ product.get_url }}"><img src="{{ product2.product_image_stock.url }}" class="card-img-top" alt="..." style="max-height:15rem;"></a>
                          <div class="card-body">
                              <h5 class="card-title">{{ product2.product_name }}</h5>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev" style="filter:invert(100%) ;">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next" style="filter:invert(100%) ;">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>

{% include 'footer.html' %}
{% endblock %}