{% extends 'index.html' %}
{% load static %}
{% block head%}
    <title>Envio</title>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12 rounded border" style="padding: 20px;">
            <h1>Direccion de entrega</h1>
            <form action="{% url 'order' %}" method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre completo:</label>
                        <input type="text" class="form-control" id="nombre" name="user_name">
                    </div>
                    <div class="col-6">
                        <label for="email" class="form-label">Correo:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="col-6">
                        <label for="telefono" class="form-label">Telefono:</label>
                        <input type="text" class="form-control" id="telefono" name="phonenumber">
                    </div>
                    <div class="col-4">
                        <label for="ciudad" class="form-label">Ciudad:</label>
                        <input type="text" class="form-control" id="ciudad" name="city">
                    </div>
                    <div class="col-4">
                        <label for="departamento" class="form-label">Departamento:</label>
                        <input type="text" class="form-control" id="departamento" name="departament">
                    </div>
                    <div class="col-4">
                        <label for="pais" class="form-label">Pais:</label>
                        <input type="text" class="form-control" id="pais" name="country">
                    </div>
                    <div class="col-12">
                        <label for="direccion" class="form-label">Direccion:</label>
                        <input type="text" class="form-control" id="direccion" name="address_1">
                    </div>
                    <div class="col-12">
                        <label for="detalle" class="form-label">Dinos tu direccion como la conoces:</label>
                        <textarea class="form-control" id="detalle" rows="3" name="address_2"></textarea>
                    </div>
                </div>
        </div>
        <br>
        <aside class="col-lg-6">
            <div class="card_tabla border rounded" style="padding: 10px;">
                <table class="table table-borderless">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Producto</th>
                            <th scope="col" width="120">Cantidad</th>
                            <th scope="col" width="120">Precio</th>
                        </tr>
                        <tr>
                            <th><hr></th>
                            <th><hr></th>
                            <th><hr></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ item.product.product_image_stock.url }}" style="max-height: 80px;" class="img-sm" alt="Responsive image"></div>
                                        </figure>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12">
                                        <figcaption class="info">
                                            <a href="" class="title text-dark ">{{item.product.product_name}}</a>
                                        </figcaption>
                                    </div>

                                </div>
                            </td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td>{{ item.sub_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-12">
                    <button type="submit" name="submit" class="btn btn-primary btn-block"> Ordenar los productos </button>
                </div>
                <br>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continua comprando</a>
            </form>
            </div>
        </aside>
    </div>
</div>
{% endblock %}