{% extends 'index.html' %}
{% load static %}
{% block head%}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <title>Mi Carrito</title>
    <style>
        .boton_tienda{
            background: #E37DAF;
            border-color: #E37DAF;
        }
        .boton_tienda:hover{
            background: #E37DAF;
            border-color: #E37DAF;
        }
        .bg_head{
            background: rgb(231, 229, 229);
        }
    </style>
    <script src="https://www.paypal.com/sdk/js?client-id=AXmh2CBUqN1HqKfgkG277xZTBODwHD2q1sxEK9jzHRWorTpSapytbVfutntUX5ZF0ukkobZg-rQqLcyU&currency=USD"></script>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<br>
<section class="section-content padding-y bg">
    <div class="container">
    <div class="row">
        <aside class="col-lg-8">
    <div class="card5">
    <table class="table border">
    <thead class="text-muted">
    <tr class="small text-uppercase bg_head">
        <th scope="col">Direccion</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="row">
                <p class="title text-dark">Remitente: {{ order.name }}</p>
                <p class="title text-dark">Email: {{ order.email }}</p>
                <p class="title text-dark">Telefono: {{ order.phonenumber }}</p>
                <figcaption class="info">
                    <p class="title text-dark">{{ order.full_address }}</p>
                </figcaption>
                <p class="title text-dark">Direccion: {{ order.address_1 }}</p>
                <p class="title text-dark">Direccion como la conoces: {{ order.address_2 }}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <figcaption class="info">
                    <a href="" class="title text-dark">Metodo de pago</a>
                </figcaption>
            </div>
            <div class="ro">
                hola
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <figcaption class="info">
                    <a href="" class="title text-dark">Revision de productos</a>
                </figcaption>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Producto</th>
                            <th scope="col" width="120">Cantidad</th>
                            <th scope="col" width="120">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ item.product.product_image_stock.url }}" style="max-height: 80px;" class="img-sm" alt="Responsive image"></div>
                                        </figure>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12">
                                        <figcaption class="info">
                                            <a href="" class="title text-dark ">{{item.product.product_name}}</a>
                                        </figcaption>
                                    </div>

                                </div>
                            </td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td>{{ item.sub_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    
        </aside>
        <aside class="col-lg-4">
    
            <div class="card5">
            <div class="card-body">
                <dl class="dlist-align">
                    <dt>Subtotal:</dt>
                    <dd class="text-right">${{ total }}</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>Iva:</dt>
                    <dd class="text-right"> ${{ iva }}</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="text-right text-dark b"><strong>${{ final }}</strong></dd>
                </dl>
                <hr>
                <!--Proceso de paypal-->
                <div id="paypal-button-container"></div>
            </div>
            </div>
    </aside> 
    </div>
    </div>
    </section>
<!--Script paypal-->
<script>

    //ignorar este error, solo estamos capturando la variable dolar
    const amount = {{ dolares }}
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log(orderData);
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock %}