{% extends 'index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
    <title>Tienda</title>
{% endblock %}
{% block content %}
{% include 'header.html' %}
{% if categorys.category_name == "Bebes" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/bebe1.jpg' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Productos de Bebes</h3>
                <p style="text-align: justify;">Nuestra tienda entrega productos certificados JPMA CPSC ASTM. Accesorios Para Bebé, Coches, Ropa Accesorios Para Bebé Y Mucho Mas. compra en linea evnvios. Encuentra lo que necesitas para tu bebe.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/bebe2.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/bebe3.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/carriola.png' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
    </div>
</div>
{% endif%}
{% if categorys.category_name == "Capilar" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/cabello2.jpg' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Productos Capialres</h3>
                <p style="text-align: justify;">Hidrata, restaura y estiliza tu cabello con las mejores marcas para el cuidado del cabello.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/cabello1.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/cabello3.jpeg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/cabello4.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
    </div>
</div>
{% endif%}
{% if categorys.category_name == "Fragancias" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/perfumes.webp' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Fragancias</h3>
                <p style="text-align: justify;">Las fragancias son mezclas químicas que tienen olor o aroma, sin embargo, abarcan otras esferas mucho más amplias, con valor cultural, histórico, social, económico y emocional.</p>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% if categorys.category_name == "Cuidado de la piel" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/piel.webp' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Cuidado de la piel</h3>
                <p style="text-align: justify;">¿No tienes tiempo para el cuidado intensivo de la piel? Todavía puedes mimarte siguiendo los conceptos básicos. Un buen cuidado de la piel y elegir un estilo de vida saludable pueden ayudarte a retrasar el envejecimiento natural y prevenir diversos problemas de la piel. Encuentra aqui todos los productos para cuidar tu piel.</p>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% if categorys.category_name == "Electrodomésticos" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/electro.webp' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Electrodomésticos</h3>
                <p style="text-align: justify;">Encuentra en TopChoice planchas para cabello, pinzas, máquinas de afeitar, depiladoras y más electrodomésticos de cuidado personal.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/p1.jpg' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/c1.webp' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/s1.webp' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
    </div>
</div>
{% endif%}
{% if categorys.category_name == "Hombres" %}
<br>
<div class="container banner_categoria bg-light">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/hombre.jpg' %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <h3>Productos Masculinos</h3>
                <p style="text-align: justify;">La cosmética masculina es un arte. Y los mejores productos de las mejores marcas españolas son, precisamente, obras que cotizan al alza en el mercado del grooming masculino. Las cifras hablan por sí solas. La pujanza del sector de la belleza patrio es un hecho.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/gel.png' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/prev.webp' %}" class="img-fluid rounded" alt="Responsive image" style="max-height: 200px;">
        </div>
    </div>
</div>
{% endif%}
<section class="section-content padding-y">
    <div class="container py-5">
    
    <div class="row">
        <aside class="col-md-3">
    
    <!--Filtros de busqueda-->
    <div class="card4">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="titulo">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title" style="color:#E37DAF !important;">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
                <div class="card-body">
                    
                    <ul class="list-menu">
                        {% for Categorias in links %}
                            <a href="{{ Categorias.get_url }}" class="categoria"><li style="color:#E37DAF !important;">{{ Categorias.category_name }}</li></a>
                        {% endfor %}
                    </ul>
    
                </div> 
            </div>
        </article>
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="titulo">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title" style="color:#E37DAF !important;">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" >
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                          <select class="mr-2 form-control">
                            <option value="0">$0</option>
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                        </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                          <select class="mr-2 form-control">
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                            <option value="2000">$2000+</option>
                        </select>
                    </div>
                    </div> 
                    <button class="btn btn-block btn-primary">Apply</button>
                </div>
            </div>
        </article>
        
    </div>
    
    </aside>
    <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{ count }} productos encontrados</span>
                
            </div>
    </header>
    
    <!--Ciclo para mostrar los productos en la tienda-->
    <div class="row">
        {% for products in products %}
        <div class="col-md-4 posicion text-center">
            <div class="card3 text-center">
                <div class="img-wrap"> 
                    
                    <a href="{{ products.get_url }}"><img src="{{ products.product_image_stock.url }}" style="max-width: 220px;"></a>
                    
                </div> 
                    <div class="fix-height">
                        <a href="{{ products.get_url }}" class="title">{{ products.product_name }}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">${{ products.price }}</span>
                        </div>
                    </div>
                    <br>
            </div>
            <div class="col text-center botones">
                <a href="{{ products.get_url }}" class="btn btn-block btn-success boton_tienda">Ver producto</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    
    </main>
    
    </div>
    
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}