.tabla_head{
    background: #FFA0BC;
}

.boton_pagar{
    background: #D94179;
    border-color: #D94179;
}

.boton_pagar:hover{
    transform: scale(1.1);
    background: #D94179;
    border-color: #D94179;
}

.tt{
    background: #FFA0BC;
}