.informacion{
    text-align: start;
    max-width: 40%;
    position: relative;
}

.informacion h2{
    text-align: center;
}

.informacion .boton_comprar{
    position: absolute;
    bottom: 0px;
    background: #E37DAF;
    border-color: #E37DAF;
    border-radius: 10px;
}

.boton_comprar:hover{
    background: #DA406E;
    border-color: #DA406E;
}


.imagen_producto{
    align-self: center;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 10px;
    max-width: 300px;
    height: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 10px;
}

.imagen_producto img{
    max-width: 300px;
    max-height: 300px;
}

.title{
    color: black ;
}

.precio{
    text-align: center;
}

.price{
    color: #DA406E;
    font-weight: bold;
    font-size: 40px;
}

.ref{
    color: rgb(198, 200, 202);
}


.rate > input{
    display:none
}

.rate {
    display: inline-block;
    border:0;
}

.rate > label {
    float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.2rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

input:checked ~ label, label:hover ~label{
    color: #fcbc27;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ inpput:checked ~ label {
    color: #cc9000;
}

.rating-star i{
    color: #fcbc27 !important;
}
