:root{
    --color-barra:#ed2f9b;
}

.barra_busqueda{
    border-radius: 50px;
    border-color: #f79db8;
    background:#f79db8;
}
.barra_busqueda::placeholder{
    color:white;
}
.span_busqueda{
    color: white;
    background: #DA406E;
    cursor: pointer;
    border:none;
}
.btn_bus{
    border-radius: 50px;
}
.btn_headers{
    background:none;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
}
.btn_headers svg{
    color: var(--color-barra);
    height: 25px;
    width: 25px;
}
.bg_categorias{
    background: #DA406E;
}
.btn_nav{
    background: white;
}
ul li{
    margin: 10px;
}
ul li a{
    color: white !important;
}

