@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');

:root{
    --color-barra:#ed2f9b;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

h2{
    color: var(--color-barra);
    font-family: 'IBM Plex Sans', sans-serif;
}

html{
    overflow-x: hidden;
}

.producto_centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: none !important;
}

.card:hover{
    color: var(--color-barra);
    transform: translateY(-50px) scale(1.005) translateZ(0);
    transition: 0.5s;
    box-shadow: 0 20px 30px rgba(0,0,0,0.11),
    0 20px 30px rgba(57, 55, 60, 0.48);
}

.img_publicidad{
    box-shadow: 0 10px 10px rgba(0,0,0,0.11),
    0 10px 10px rgba(57, 55, 60, 0.48);
    border-radius: 5px;
}

.card2:hover{
    color: var(--color-barra);
    transform:translateY(10px) scale(1.1) translateZ(0);
    transition: 0.5s;
    box-shadow: 0 20px 30px rgba(0,0,0,0.11),
    0 20px 30px rgba(57, 55, 60, 0.48);
}

.nav_pie{
    align-items: flex-start;
}

.form_contacto{
    align-items: flex-start;
}

.form_contacto button{
    position: relative;
    left: 10px;
    background: var(--color-barra);
    border: none;
}

.form_contacto button:hover{
    background: #c41679;
}

.correo{
    text-align: start;
}


.body_modal{
    background: #DA406E !important;
    max-width: 400px !important;
    border-radius: 20px;
}

.titulo_sesion{
    color: white !important;
    font-size: 30px !important;
    font-weight: bold;
}

.input1{
    border-radius: 0 !important;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: white !important;
    opacity: 0.7;
    color: white;
}

input::placeholder{
    color: black !important;
    opacity: 1;
}

.btn1{
    border-radius: 20px;
    background:#FBA1BB;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #FBA1BB;
    color: #DA406E;
    font-size: 20px;
    font-weight: bold;
}

.a_sesion{
    color: white;
}

.card3:hover{
    color: var(--color-barra);
    transform: scale(1.02);
}