.perfil_usuario{
    background: rgb(236, 234, 234);
}
.activo{
    font-weight: bold;
    color: rgb(128, 247, 227) !important;
}

.boton_tienda{
    background: #E37DAF;
}

.boton_tienda:hover{
    background: #d66a9e;
}