body{
    background: #eb98c0;
}

a{
    color: white;
}

.caja{
    background: linear-gradient(#f8b6dc,#f5a7da); 
            border-radius: 10px; 

    max-width: 800px ;
    max-height: 600px;

}

.caja input{
    border-radius: 0 !important;
    border-bottom: 2px solid #B225D9 !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    color: white;
}


.btn1{
    background: #c72ff1;
    border: #c72ff1;
}

.btn1:hover{
    background: #9f1bc4;
    border: #9f1bc4;
}

::placeholder{
    color: white !important;
}

.pantalla_movil{
    display: none;
}

.div_padre{
    width: 100%;
    height: 100vh;
    margin-left: 0;
    display: flex;
}

.div_img{
    width: 40%;
    background-image: url('../img/registro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div_form{
    width: 60%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

@media screen and (max-width:1700px){
    .div_img{
        width: 50%;
    }

    .div_form{
        width: 50%;
    }
}

@media screen and (max-width:1000px){
    .div_img{
        display: none;
    }   
    .div_form{
        width: 100%;
    }
}


