.posicion:hover{
    transform: scale(1.1) translateY(-10px);
    background: #fff;
}

.posicion{
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card3{
    margin: 20px;
    padding: 10px;
}


.card3 a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.card3 .price{
    color: red;
}

.botones .btn{
    border-radius: 50px;
    background: none;
    border-color: #E37DAF;
    position: sticky;
}

.botones a{
    color: black;
}

.botones .btn:hover{
    background: #E37DAF;
}

.title{
    color: black;
    font-weight: bold;
}

.titulo{
    text-decoration: none !important;
}

.categoria{
    text-decoration: none;
    color: #FBA1BB;
}

.boton_tienda{
    background: #E37DAF;
}

.price{
    color: rgb(170, 204, 203) !important;
}

.botones{
    position: absolute;
    bottom: 0;
}

